<div class="col-lg-8 col-md-8">
	<div class="content_bottom_left">
	<!-- Start single-post Area -->
	<div class="single_category wow fadeInDown">
		<div class="archive_style_1">
			<h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <span class="title_text">About Page</span> </h2>		
			<br>
			<div class="single_archive wow fadeInDown">
				<div class="archive_imgcontainer"><img src="frontend/img/about-page.jpg" alt=""> </div>		
			</div>
		</div>
	</div>
	</div>
</div>

