<div class="alert alert-<%= type %> alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4><i class="icon fas fa-exclamation-triangle"></i> <%= message %></h4>

</div>
<!--
<div class="alert alert-success alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4><i class="icon fas fa-exclamation-triangle"></i> Cập nhật status thành công</h4>
</div>
<span class="close-btn">&times;</span><%= message %>
-->