<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Login</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome -->
<link rel="stylesheet" href="adminlte/css/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="adminlte/css/ionicons/css/ionicons.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="adminlte/css/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="adminlte/css/adminlte.min.css">
<link rel="stylesheet" href="adminlte/css/custom.css">

<script src="adminlte/js/ckeditor/ckeditor.js"></script>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="login/css/style.css">
<!-- <script src="frontend/js/login/main.js"></script> -->
