<base href="/">
<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Favicon-->
<link rel="shortcut icon" href="">
<!-- Author Meta -->
<meta name="author" content="colorlib">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>BlackHost-Home</title>	<!--
CSS
============================================= -->
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/theme.css">
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="magexpress/assets/css/custom.css">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">