<% include ./../helpers/show-menu-user %>
<% 
const linkLogin = systemConfig.prefixBlog + `/auth/login`;
%>


<header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        
        <div class="header_bottom">
          <div class="header_bottom_left">
            <a class="logo" style="font-size: 45px;padding-top: 15px;" href="/">Black<strong style="color: black;">HostVN</strong> <span style="font-size: 21px;padding-top: 6px;width: 230px;">A VNese Amateur Magazine</span></a></div>
          <div class="header_bottom_right"><a href="#"><img src="magexpress/images/addbanner_728x90_V1.jpg" alt=""></a></div>
        </div>
      </div>
    </div>
  </header>