<% 

    showMenuUser = (userInfo) => { 
        const linkLogin = systemConfig.prefixBlog + `/auth/login`;
        const linkLogout= systemConfig.prefixBlog + `/auth/logout`;
	    const linkAdmin = systemConfig.prefixAdmin + `/dashboard`;
 
        let xhtmlMenuUser = '';
        
        if( Object.keys(userInfo).length > 0) {
            xhtmlMenuUser = `<li><a href="${linkLogout}">Đăng xuất</a></li>`;
            if(userInfo.username == "admin"){
                xhtmlMenuUser += `<li><a href="${linkAdmin}">Admin</a></li>`;
            }
        }else {
            xhtmlMenuUser = `<li>
                        <a href="${linkLogin}">Đăng nhập</a>
                    </li>`;
        }
        return xhtmlMenuUser;
    } 
%>
